[aspace-log]
datetime_format = {{ log_datetime_format }}
buffer_duration = 5000
initial_position = start_of_file
file = /home/{{ client_name }}/archivesspace/logs/archivesspace.out
log_stream_name = {{ client_name }}
log_group_name = archivesspace
